# Data Cleaning

In [4]:
## load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
from sklearn.cluster import KMeans

In [2]:
graduation_data = pd.read_csv("graduation_rates.csv")
bilingual_data = pd.read_csv("bilingual_rates.csv")
graduation_data = graduation_data.rename(columns={"DBN":"school_name"})
bilingual_data = bilingual_data.rename(columns={"School Name":"school_name"})
schools = pd.merge(bilingual_data, graduation_data, on="school_name")
schools.head()

# no schools match

Empty DataFrame
Columns: [Borough, Borough/Citywide Office (B/CO), District, School, school_name, School Category, Program, Language, Language (Translated), General/Special Education, Special Education Model, School Name, Demographic Category, Demographic Variable, Cohort Year, Cohort, Total Cohort #, Total Grads #, Total Grads % of cohort, Total Regents #, Total Regents % of cohort, Total Regents % of grads, Advanced Regents #, Advanced Regents % of cohort, Advanced Regents % of grads, Regents w/o Advanced #, Regents w/o Advanced % of cohort, Regents w/o Advanced % of grads, Local #, Local % of cohort, Local % of grads, Still Enrolled #, Still Enrolled % of cohort, Dropped Out #, Dropped Out % of cohort]
Index: []

[0 rows x 35 columns]

In [22]:
demographic_data = pd.read_csv("demographic_schools.csv")
# print(demographic_data.head())

# print(demographic_data.columns)
print(demographic_data.dtypes) # year should be num, DBN + school name should be string!?
# demographic_data.describe()

print(len(demographic_data))
print(demographic_data[demographic_data.notnull()])
print(len(demographic_data[demographic_data.notnull()]))

# schools = pd.merge(bilingual_data, demographic_data, on="DBN")

x=pd.notnull(data['col'])
data[x]

DBN                                            object
School Name                                    object
Year                                           object
Total Enrollment                                int64
Grade 3K+PK (Half Day & Full Day)               int64
Grade K                                         int64
Grade 1                                         int64
Grade 2                                         int64
Grade 3                                         int64
Grade 4                                         int64
Grade 5                                         int64
Grade 6                                         int64
Grade 7                                         int64
Grade 8                                         int64
Grade 9                                         int64
Grade 10                                        int64
Grade 11                                        int64
Grade 12                                        int64
# Female                                        int64
% Female                                      float64
# Male                                          int64
% Male                                        float64
# Asian                                         int64
% Asian                                       float64
# Black                                         int64
% Black                                       float64
# Hispanic                                      int64
% Hispanic                                    float64
# Multiple Race Categories Not Represented      int64
% Multiple Race Categories Not Represented    float64
# White                                         int64
% White                                       float64
# Students with Disabilities                    int64
% Students with Disabilities                  float64
# English Language Learners                     int64
% English Language Learners                   float64
# Poverty                                      object
% Poverty                                      object
Economic Need Index                            object
dtype: object
9096
9096