# INFO 2950 Project Phase II

In [1]:
## load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
from sklearn.cluster import KMeans

In [11]:
bilingual_data = pd.read_csv("bilingual_rates.csv")
bilingual_data.rename(columns={"School Name":"school_name", "School": "DBN"}, inplace=True)
bilingual_data.head()
bilingual_data.drop(columns = ['Language (Translated)', 'Special Education Model'])

,Borough,Borough/Citywide Office (B/CO),District,DBN,school_name,School Category,Program,Language,General/Special Education
0,Manhattan,Manhattan,1,01M020,P.S. 020 Anna Silver,Elementary,Dual Language,Chinese,General Education
1,Manhattan,Manhattan,1,01M020,P.S. 020 Anna Silver,Elementary,Dual Language,Spanish,General Education
2,Manhattan,Manhattan,1,01M184,P.S. 184m Shuang Wen,K-8,Dual Language,Chinese,General Education
3,Manhattan,Manhattan,1,01M184,P.S. 184m Shuang Wen,K-8,Dual Language,Chinese,Special Education
4,Manhattan,Manhattan,1,01M188,P.S. 188 The Island School,K-8,Dual Language,Spanish,General Education
...,...,...,...,...,...,...,...,...,...
533,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
534,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
535,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
536,Manhattan,ACCESS,79,79M973,Restart Academy,Ungraded,Transitional Bilingual Education,Spanish,General Education
537,Queens,ACCESS,79,79Q950,Pathways to Graduation,High school,Transitional Bilingual Education,Spanish,General Education

In [19]:
demographic_data = pd.read_csv("demographic_schools.csv")

# COLUMNS
# print(demographic_data.columns)
demographic_data.rename(columns={"School Name":"school_name"}, inplace=True)
# print(demographic_data)



# FIXING DATA TYPES
# print(demographic_data.dtypes) # DBN + school name + year should be string; # Poverty, % Poverty, Economic Need Index should be ints/floats
dem_str_columns = ['DBN', 'school_name', 'Year']
demographic_data[dem_str_columns] = demographic_data[dem_str_columns].astype("string")
# dem_num_columns = ['# Poverty', '% Poverty', 'Economic Need Index'] –– have special values like "Above 95%" and others are decimals..
# demographic_data[dem_num_columns] = demographic_data[dem_num_columns].astype("string").replace("%", "")
# print(demographic_data[dem_num_columns])

# print(demographic_data.dtypes)
# print(demographic_data)


# ONLY KEEP 2019-20 DATA
demographic_data = demographic_data[demographic_data['Year'] == "2019-20"]
demographic_data




# GETTING RID OF NULL'S
# print(len(demographic_data))

## boolean array of whether or not an entry is not null
notnull_array = demographic_data.notnull()
notnull_array.head()

# include only rows that do not contain null values
demographic_data = demographic_data[notnull_array]
demographic_data.head()
# print(len(demographic_data))


# OTHER DATA CLEANING
# demographic_data.shape
# demographic_data.describe()

,DBN,school_name,Year,Total Enrollment,Grade 3K+PK (Half Day & Full Day),Grade K,Grade 1,Grade 2,Grade 3,Grade 4,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
4,01M015,P.S. 015 Roberto Clemente,2019-20,190,14,29,28,38,33,29,...,0.011,9,0.047,44,0.232,17,0.089,155,81.6%,86.9%
9,01M019,P.S. 019 Asher Levy,2019-20,236,16,25,27,39,45,42,...,0.038,19,0.081,94,0.398,8,0.034,176,74.6%,70.0%
14,01M020,P.S. 020 Anna Silver,2019-20,464,41,63,61,71,76,65,...,0.034,31,0.067,102,0.220,61,0.131,352,75.9%,78.2%
19,01M034,P.S. 034 Franklin D. Roosevelt,2019-20,296,17,24,26,16,18,21,...,0.007,8,0.027,114,0.385,17,0.057,Above 95%,Above 95%,Above 95%
24,01M063,The STAR Academy - P.S.63,2019-20,229,26,40,34,38,30,32,...,0.031,17,0.074,69,0.301,5,0.022,177,77.3%,78.2%

In [ ]:
# MERGE:
# bilingual_demographic = pd.merge(bilingual_data, demographic_data, on="DBN")
# bilingual_demographic[3:200:5]

# [HERE, ALSO WRITE CLEANED DATA TO CSV]

In [ ]:
# Write out the good data to disk for later reuse
# covid.to_csv('lec-03-tompkins-covid-data.csv', index=False)