# INFO 2950 Project Phase II

In [1]:
## load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
from sklearn.cluster import KMeans

In [41]:
bilingual_data = pd.read_csv("bilingual_rates.csv")

# COLUMNS
# print(bilingual_data.columns)
bilingual_data.rename(columns={"School Name":"school_name", "School": "DBN"}, inplace=True)
bilingual_data = bilingual_data.drop(columns = ['Language (Translated)', 'Special Education Model'])
# print(bilingual_data.head())
# print(bilingual_data)


# FIXING DATA TYPES
# print(bilingual_data.dtypes)
# change DBN + school name to string, district is already an int
bilingual_str_columns = ['Borough', 'Borough/Citywide Office (B/CO)', 'DBN', 'school_name', 'School Category', 'Program', 'Language', 'General/Special Education']
bilingual_data[bilingual_str_columns] = bilingual_data[bilingual_str_columns].astype("string")
# print(bilingual_data.dtypes)

    
    
# GETTING RID OF NULL'S
# print(len(bilingual_data))

## boolean array of whether or not an entry is not null
notnull_array = bilingual_data.notnull()
notnull_array.head()

# include only rows that do not contain null values
bilingual_data = bilingual_data[notnull_array]
bilingual_data
# print(len(bilingual_data))


# DROP ACCESS SCHOOLS
hello = bilingual_data.loc[bilingual_data['Borough/Citywide Office (B/CO)'] == "ACCESS"]
print(hello)


bilingual_data.drop(hello.index, inplace=True)
display(bilingual_data)

# OTHER DATA CLEANING
# print(bilingual_data.shape)

       Borough Borough/Citywide Office (B/CO)  District     DBN  \
6    Manhattan                         ACCESS         1  01M515
7    Manhattan                         ACCESS         1  01M515
90   Manhattan                         ACCESS         6  06M348
91   Manhattan                         ACCESS         6  06M348
197      Bronx                         ACCESS        10  10X351
536  Manhattan                         ACCESS        79  79M973
537     Queens                         ACCESS        79  79Q950

                                          school_name  School Category  \
6             Lower East Side Preparatory High School      High school
7             Lower East Side Preparatory High School      High school
90   Washington Heights Expeditionary Learning School  K-12 all grades
91   Washington Heights Expeditionary Learning School  K-12 all grades
197                   Bronx Collaborative High School      High school
536                                   Restart Academy         Ungraded
537                            Pathways to Graduation      High school

                              Program Language General/Special Education
6    Transitional Bilingual Education  Chinese         General Education
7    Transitional Bilingual Education  Spanish         General Education
90                      Dual Language  Spanish         General Education
91                      Dual Language  Spanish         Special Education
197  Transitional Bilingual Education  Spanish         General Education
536  Transitional Bilingual Education  Spanish         General Education
537  Transitional Bilingual Education  Spanish         General Education

,Borough,Borough/Citywide Office (B/CO),District,DBN,school_name,School Category,Program,Language,General/Special Education
0,Manhattan,Manhattan,1,01M020,P.S. 020 Anna Silver,Elementary,Dual Language,Chinese,General Education
1,Manhattan,Manhattan,1,01M020,P.S. 020 Anna Silver,Elementary,Dual Language,Spanish,General Education
2,Manhattan,Manhattan,1,01M184,P.S. 184m Shuang Wen,K-8,Dual Language,Chinese,General Education
3,Manhattan,Manhattan,1,01M184,P.S. 184m Shuang Wen,K-8,Dual Language,Chinese,Special Education
4,Manhattan,Manhattan,1,01M188,P.S. 188 The Island School,K-8,Dual Language,Spanish,General Education
...,...,...,...,...,...,...,...,...,...
531,Bronx,District 75,75,75X721,P.S. X721 - Stephen McSweeney School,High school,Transitional Bilingual Education,Spanish,Special Education
532,Bronx,District 75,75,75X754,J. M. Rapport School Career Development,High school,Transitional Bilingual Education,Spanish,Special Education
533,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
534,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
535,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education

In [42]:
demographic_data = pd.read_csv("demographic_schools.csv")

# COLUMNS
# print(demographic_data.columns)
demographic_data.rename(columns={"School Name":"school_name"}, inplace=True)
# print(demographic_data)



# FIXING DATA TYPES
# print(demographic_data.dtypes) # DBN + school name + year should be string; # Poverty, % Poverty, Economic Need Index should be ints/floats
dem_str_columns = ['DBN', 'school_name', 'Year']
demographic_data[dem_str_columns] = demographic_data[dem_str_columns].astype("string")
# dem_num_columns = ['# Poverty', '% Poverty', 'Economic Need Index'] –– have special values like "Above 95%" and others are decimals..
# demographic_data[dem_num_columns] = demographic_data[dem_num_columns].astype("string").replace("%", "")
# print(demographic_data[dem_num_columns])

# print(demographic_data.dtypes)
# print(demographic_data)


# ONLY KEEP 2019-20 DATA
demographic_data = demographic_data[demographic_data['Year'] == "2019-20"]
demographic_data




# GETTING RID OF NULL'S
# print(len(demographic_data))

## boolean array of whether or not an entry is not null
notnull_array = demographic_data.notnull()
notnull_array.head()

# include only rows that do not contain null values
demographic_data = demographic_data[notnull_array]
demographic_data.head()
# print(len(demographic_data))


# OTHER DATA CLEANING
demographic_data.shape
# demographic_data.describe()

(1868, 39)

In [43]:
# MERGE:
bilingual_demographic_data = pd.merge(bilingual_data, demographic_data, on="DBN")
# bilingual_demographic[3:200:5]
bilingual_demographic_data

# [HERE, ALSO WRITE CLEANED DATA TO CSV]

,Borough,Borough/Citywide Office (B/CO),District,DBN,school_name_x,School Category,Program,Language,General/Special Education,school_name_y,...,% Multiple Race Categories Not Represented,# White,% White,# Students with Disabilities,% Students with Disabilities,# English Language Learners,% English Language Learners,# Poverty,% Poverty,Economic Need Index
0,Manhattan,Manhattan,1,01M020,P.S. 020 Anna Silver,Elementary,Dual Language,Chinese,General Education,P.S. 020 Anna Silver,...,0.034,31,0.067,102,0.220,61,0.131,352,75.9%,78.2%
1,Manhattan,Manhattan,1,01M020,P.S. 020 Anna Silver,Elementary,Dual Language,Spanish,General Education,P.S. 020 Anna Silver,...,0.034,31,0.067,102,0.220,61,0.131,352,75.9%,78.2%
2,Manhattan,Manhattan,1,01M184,P.S. 184m Shuang Wen,K-8,Dual Language,Chinese,General Education,P.S. 184m Shuang Wen,...,0.069,52,0.074,117,0.165,99,0.140,469,66.3%,67.2%
3,Manhattan,Manhattan,1,01M184,P.S. 184m Shuang Wen,K-8,Dual Language,Chinese,Special Education,P.S. 184m Shuang Wen,...,0.069,52,0.074,117,0.165,99,0.140,469,66.3%,67.2%
4,Manhattan,Manhattan,1,01M188,P.S. 188 The Island School,K-8,Dual Language,Spanish,General Education,P.S. 188 The Island School,...,0.008,9,0.023,135,0.339,39,0.098,Above 95%,Above 95%,Above 95%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,Bronx,District 75,75,75X721,P.S. X721 - Stephen McSweeney School,High school,Transitional Bilingual Education,Spanish,Special Education,P.S. X721 - Stephen McSweeney School,...,0.009,25,0.043,575,1.000,207,0.360,531,92.3%,94.8%
527,Bronx,District 75,75,75X754,J. M. Rapport School Career Development,High school,Transitional Bilingual Education,Spanish,Special Education,J. M. Rapport School Career Development,...,0.013,15,0.033,455,0.991,140,0.305,430,93.7%,Above 95%
528,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education,P.S. X811,...,0.020,20,0.031,642,1.000,239,0.372,Above 95%,Above 95%,Above 95%
529,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education,P.S. X811,...,0.020,20,0.031,642,1.000,239,0.372,Above 95%,Above 95%,Above 95%
530,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education,P.S. X811,...,0.020,20,0.031,642,1.000,239,0.372,Above 95%,Above 95%,Above 95%

In [44]:
# Write out the good data to disk for later reuse
bilingual_demographic_data.to_csv('bilingual_demographic-data.csv', index=False)