# Data Cleaning

In [3]:
## load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns
from sklearn.cluster import KMeans

In [18]:
bilingual_data = pd.read_csv("bilingual_rates.csv")
bilingual_data.rename(columns={"School Name":"school_name", "School": "DBN"}, inplace=True)
bilingual_data.head()
bilingual_data.drop(columns = ['Language (Translated)', 'Special Education Model'])

,Borough,Borough/Citywide Office (B/CO),District,DBN,school_name,School Category,Program,Language,General/Special Education
0,Manhattan,Manhattan,1,01M020,P.S. 020 Anna Silver,Elementary,Dual Language,Chinese,General Education
1,Manhattan,Manhattan,1,01M020,P.S. 020 Anna Silver,Elementary,Dual Language,Spanish,General Education
2,Manhattan,Manhattan,1,01M184,P.S. 184m Shuang Wen,K-8,Dual Language,Chinese,General Education
3,Manhattan,Manhattan,1,01M184,P.S. 184m Shuang Wen,K-8,Dual Language,Chinese,Special Education
4,Manhattan,Manhattan,1,01M188,P.S. 188 The Island School,K-8,Dual Language,Spanish,General Education
...,...,...,...,...,...,...,...,...,...
533,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
534,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
535,Bronx,District 75,75,75X811,P.S. X811,Secondary School,Transitional Bilingual Education,Spanish,Special Education
536,Manhattan,ACCESS,79,79M973,Restart Academy,Ungraded,Transitional Bilingual Education,Spanish,General Education
537,Queens,ACCESS,79,79Q950,Pathways to Graduation,High school,Transitional Bilingual Education,Spanish,General Education

In [51]:
demographic_data = pd.read_csv("demographic_schools.csv")

# COLUMNS
# print(demographic_data.columns)
demographic_data.rename(columns={"School Name":"school_name"}, inplace=True)
# print(demographic_data)




# FIXING DATA TYPES
# print(demographic_data.dtypes) # DBN + school name + year should be string; # Poverty, % Poverty, Economic Need Index should be ints/floats
dem_str_columns = ['DBN', 'school_name', 'Year']
demographic_data[dem_str_columns] = demographic_data[dem_str_columns].astype("string")
# dem_num_columns = ['# Poverty', '% Poverty', 'Economic Need Index'] –– have special values like "Above 95%" and others are decimals..
# demographic_data[dem_num_columns] = demographic_data[dem_num_columns].astype("string").replace("%", "")
# print(demographic_data[dem_num_columns])

# print(demographic_data.dtypes)
# print(demographic_data)





# ONLY KEEP 2019-20 DATA
demographic_data = demographic_data[demographic_data['Year'] == "2019-20"]
demographic_data



# CLEANING NULL'S
print(len(demographic_data))

print(demographic_data[demographic_data.isnull() == True])
print(len(demographic_data.notnull()))

      
# OTHER DATA CLEANING
# demographic_data.shape
# demographic_data.describe()

# x=pd.notnull(data['col'])
# data[x]

1868
       DBN school_name  Year  Total Enrollment  \
4     <NA>        <NA>  <NA>               NaN
9     <NA>        <NA>  <NA>               NaN
14    <NA>        <NA>  <NA>               NaN
19    <NA>        <NA>  <NA>               NaN
24    <NA>        <NA>  <NA>               NaN
...    ...         ...   ...               ...
9075  <NA>        <NA>  <NA>               NaN
9080  <NA>        <NA>  <NA>               NaN
9085  <NA>        <NA>  <NA>               NaN
9090  <NA>        <NA>  <NA>               NaN
9095  <NA>        <NA>  <NA>               NaN

      Grade 3K+PK (Half Day & Full Day)  Grade K  Grade 1  Grade 2  Grade 3  \
4                                   NaN      NaN      NaN      NaN      NaN
9                                   NaN      NaN      NaN      NaN      NaN
14                                  NaN      NaN      NaN      NaN      NaN
19                                  NaN      NaN      NaN      NaN      NaN
24                                  NaN      NaN      NaN      NaN      NaN
...                                 ...      ...      ...      ...      ...
9075                                NaN      NaN      NaN      NaN      NaN
9080                                NaN      NaN      NaN      NaN      NaN
9085                                NaN      NaN      NaN      NaN      NaN
9090                                NaN      NaN      NaN      NaN      NaN
9095                                NaN      NaN      NaN      NaN      NaN

      Grade 4  ...  % Multiple Race Categories Not Represented  # White  \
4         NaN  ...                                         NaN      NaN
9         NaN  ...                                         NaN      NaN
14        NaN  ...                                         NaN      NaN
19        NaN  ...                                         NaN      NaN
24        NaN  ...                                         NaN      NaN
...       ...  ...                                         ...      ...
9075      NaN  ...                                         NaN      NaN
9080      NaN  ...                                         NaN      NaN
9085      NaN  ...                                         NaN      NaN
9090      NaN  ...                                         NaN      NaN
9095      NaN  ...                                         NaN      NaN

      % White  # Students with Disabilities  % Students with Disabilities  \
4         NaN                           NaN                           NaN
9         NaN                           NaN                           NaN
14        NaN                           NaN                           NaN
19        NaN                           NaN                           NaN
24        NaN                           NaN                           NaN
...       ...                           ...                           ...
9075      NaN                           NaN                           NaN
9080      NaN                           NaN                           NaN
9085      NaN                           NaN                           NaN
9090      NaN                           NaN                           NaN
9095      NaN                           NaN                           NaN

      # English Language Learners  % English Language Learners  # Poverty  \
4                             NaN                          NaN        NaN
9                             NaN                          NaN        NaN
14                            NaN                          NaN        NaN
19                            NaN                          NaN        NaN
24                            NaN                          NaN        NaN
...                           ...                          ...        ...
9075                          NaN                          NaN        NaN
9080                          NaN                          NaN        NaN
9085                          NaN                          NaN        NaN
9090                          NaN                          NaN        NaN
9095                          NaN                          NaN        NaN

      % Poverty  Economic Need Index
4           NaN                  NaN
9           NaN                  NaN
14          NaN                  NaN
19          NaN                  NaN
24          NaN                  NaN
...         ...                  ...
9075        NaN                  NaN
9080        NaN                  NaN
9085        NaN                  NaN
9090        NaN                  NaN
9095        NaN                  NaN

[1868 rows x 39 columns]
1868

In [15]:
# MERGE:
# bilingual_demographic = pd.merge(bilingual_data, demographic_data, on="DBN")
# bilingual_demographic[3:200:5]